
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eafaf8;
}


main {
    width: 90%;
    max-width: 1100px;
    margin: 40px auto;
    text-align: center;
}


h1 {
    color: #051413;
    margin-bottom: 20px;
}


button {
    background-color: #0e514a;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;
}

button:hover {
    background-color: #00796b;
}


#contenedor-datos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}


.practice-card {
    background-color: white;
    border: 2px solid #009688;
    border-radius: 10px;
    padding: 15px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}


.icono {
    text-align: center;
    margin-bottom: 10px;
}

.icono img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #e0f2f1;
    padding: 8px;
}


.practice-card h3 {
    margin-top: 0;
    color: #0a5149;
    text-align: center;
}


.practice-card p {
    margin: 6px 0;
    color: #444;
}
