#map {
    margin: auto;
    display: block;
    border: 2px solid #3498DB;
    border-radius: 8px;
    height: 50vh;
    width: 60%;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    display: block;
    margin: 10px auto;
    padding: 8px 16px;
    cursor: pointer;
}
